.hidden {
  display: none;
}
img {
  min-height: 100vh;
  min-width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  background-position: center;
  background-size: cover;
  z-index: -999;
}
.clock {
  text-align: right;
  color: brown;
  font-size: 50px;
  font-family: unset;
  padding: 20px;
}
body {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
}
#loginform {
  text-align: right;
  margin-top: 30px;
}
#todo {
  text-align: center;
}
#todolist {
  margin-left: 50px;
  font-size: 50px;
  color: cornflowerblue;
}
.weather span {
  font-size: xx-large;
  font-weight: 900;
  color: chartreuse;
}
